---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: subtitler-api
  labels:
    app: subtitler-api
spec:
  replicas: 1
  selector:
    matchLabels:
      app: subtitler-api
  template:
    metadata:
      labels:
        app: subtitler-api
    spec:
      containers:
      - name: subtitler-api
        image: registry.paranoids.org/subtitler-api:main
        imagePullPolicy: Always
        env:
          - name: SA_ENV
            value: staging
          - name: SA_HOST
            value: 0.0.0.0
          - name: SA_PORT
            value: "4002"
          - name: SA_OTEL_ENABLED
            value: "true"
          - name: SA_OTEL_ENDPOINT
            value: "otel-collector.monitoring.svc.cluster.local:4317"
          - name: SA_OPEN_SUBTITLES_API_KEY
            valueFrom:
              secretKeyRef:
                name: subtitler-api-key
                key: apiKey
          - name: SA_OPEN_SUBTITLES_API_USERNAME
            valueFrom:
              secretKeyRef:
                name: subtitler-api-key
                key: username
          - name: SA_OPEN_SUBTITLES_API_PASSWORD
            valueFrom:
              secretKeyRef:
                name: subtitler-api-key
                key: password
          - name: SA_SUBX_API_KEY
            valueFrom:
              secretKeyRef:
                name: subtitler-api-key
                key: subXKey
        ports:
        - containerPort: 4002
      imagePullSecrets:
      - name: regcred
---
apiVersion: v1
kind: Service
metadata:
  name: subtitler-api-svc
spec:
  selector:
    app: subtitler-api
  type: ClusterIP
  ports:
    - protocol: TCP
      port: 80
      targetPort: 4002